sudo: required
services: 
  - docker

before_install:
  - docker build -t francoser/react-test -f  ./client/Dockerfile.dev ./client



script: 
  - docker run francoser/react-test npm test -- --coverage


after_success:
  - docker build -t francoser/multi-client ./client
  - docker build -t francoser/multi-nginx ./nginx
  - docker build -t francoser/multi-server ./server
  - docker build -t francoser/multi-worker ./worker
  #log in to the docker cli
  - docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD" docker.io
  #take those images and push them to docker hub
  - docker push francoser/multi-client
  - docker push francoser/multi-nginx
  - docker push francoser/multi-server
  - docker push francoser/multi-worker
